/node_modules
/public/hot
/public/storage
/public/built
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.idea
/yarn--1556265563982-0.7004305685202354
/v8-compile-cache-0
yarn.lock